**/node_modules
**/dist
**/build
**/package-lock.json
**/.env
**/db.sqlite*
**/*.key*
**/backend/db
nginx/ssl
**/backend/public/uploads/avatars/*
!**/backend/public/uploads/avatars/default.png
!**/backend/public/uploads/avatars/bot.jpg
**/.DS_Store
**/db_data