services:
  backend:
    build:
      context: ./backend
    container_name: backend
    volumes:
      - backend_db:/app/db_data
      - uploads:/app/public/uploads
    expose:
      - "3000"
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    ports:
      - "0.0.0.0:8081:80"
      - "0.0.0.0:8443:443"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - uploads:/var/www/uploads:ro
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

volumes:
  uploads:
    driver: local
    driver_opts:
      type: none
      device: ./backend/public/uploads
      o: bind
  backend_db:
    driver: local
    driver_opts:
      type: none
      device: ./backend/db_data
      o: bind

networks:
  app-network:
    driver: bridge